.about-section {
  background: #ffffff;
  margin: 40px 0px 40px 0px;
}

.about-section h2 {
  color: #1d1d1d;
  line-height: 1.2;
}

.about-section p {
  font-size: 15px;
  line-height: 1.8;
}

.icon-circle {
  width: 60px;
  height: 60px;
  border: 2px solid #1f8f55;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 24px;
  color: #1f8f55;
}

.icon-box p {
  font-size: 14px;
}

.image-wrapper {
  max-width: 450px;
}

.foundation-img {
  width: 100%;
  height: 450px;
  object-fit: cover;

  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 180px;
}

@media (max-width: 991px) {
  .foundation-img {
    height: 350px;
    margin-top: 20px;
  }

  .about-section {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .foundation-img {
    height: 280px;
  }

  .about-section h2 {
    font-size: 2rem;
  }
}